.customSwiper {
    position: fixed;
    right: 50px;
    width: 800px;
    height: 800px;
    top: 50%;
    transform: translateY(-50%);
}
.swiperItem{
    display: flex;
    align-items: center;
    justify-content: end;
}
@media (max-width: 1000px) {
    .customSwiper {
        position: fixed;
        right: 15px;
        width: 40%;
        height: 50vh;
        top: 50%;
        transform: translateY(-50%);
    }}
